option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: frontend.settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: frontend/wsgi.py

container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02createsuperuser:
    command: "DJANGO_SUPERUSER_USERNAME=nstpc-admin DJANGO_SUPERUSER_PASSWORD=%PASSWORD% DJANGO_SUPERUSER_EMAIL=nstpc.admin@nstpc.admin.com django-admin.py createsuperuser --noinput"
    leader_only: true
    ignoreErrors: true
    

