{% extends 'playground/base.html' %}

{% block content %}
{% load static %}
<blockquote class="blockquote text-center">
    <h2>ImageList</h2>
</blockquote>

<a class="btn btn-primary" href="{% url 'result_list' 0 %}" id="result_list_link">ResultList</a>

<div class="container">
<div class="table-responsive">
<table class="table table-striped">
    <th>ImageName</th>
    <th>ImageData</th>
    <th>Delete</th>
    <th>RelatedResult</th>
    <th>Download</th>

    {% for image in image_list %}
        <tr>
            <td class="ImageName">{{ image.basename }}</td>
            <td class="ImageData">
                <a href="{{ image.image.url }}">
                    <img src="{{ image.thumbnail_url }}">
                </a>
            </td>
            <td class="Delete">
                <form action="{% url 'delete' image_id=image.id %}" method="post" id="delete">
                    {% csrf_token %}
                    <input type="image" src="{% static 'playground/icons/trash-box.png' %}">
                </form>
            </td>
            <td class="RelatedResult">
                <a href="{% url 'result_list' image.id %}" id="related_relsut_link">
                    <img src="{% static 'playground/icons/arrows.png' %}" >
                </a>
            </td>
            <td class="Download">
                <a href="{{ image.image.url }}" download>
                    <img src="{% static 'playground/icons/download.png' %}">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
</div>


{% endblock content %}
